.ef-partner:not(.ef-partner-full-width) .ef-partner-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (-ms-high-contrast: active),(-ms-high-contrast: none) {
  .ef-partner:not(.ef-partner-full-width) .ef-partner-item {
    display: block;
  }
}
@media (min-width: 1220px) {
  .ef-partner:not(.ef-partner-full-width) .ef-partner-item.uk-grid-margin {
    margin-top: 25px;
  }
}
.ef-partner.ef-partner-full-width .ef-partner-item {
  margin-bottom: 50px;
}
.ef-partner .ef-partner-item img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.ef-partner .ef-partner-item a {
  text-decoration: none;
}
@media (-ms-high-contrast: active),(-ms-high-contrast: none) {
  .ef-partner .ef-partner-item a {
    width: 100%;
    text-align: center;
  }
}
.ef-partner-title {
  font-weight: bold;
}