.ef-partner:not(.ef-partner-full-width) {

	.ef-partner-item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		@media (-ms-high-contrast: active), (-ms-high-contrast: none){ // IE
			display: block;
		}

		&.uk-grid-margin {
			@media(min-width: @breakpoint-xlarge){
				margin-top: 25px;
			}
		}
	}
}
.ef-partner.ef-partner-full-width {
	.ef-partner-item {
		margin-bottom: 50px;
	}
}
.ef-partner {
	.ef-partner-item {
		img {
			max-width: 100%;
			max-height: 100%;
		    width: auto;
		    height: auto;
		}
		a {
			text-decoration: none;
			@media (-ms-high-contrast: active), (-ms-high-contrast: none){ // IE
				width: 100%;
				text-align: center;
			}
		}
	}
}
.ef-partner-title {
	font-weight: bold;
}